/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white; /* Same as the background color of the page */
}

::-webkit-scrollbar-thumb {
  background-color: white; /* Custom scrollbar color */
  border-radius: 10px;
  border: 2px solid white; /* Same as the background color of the page */
}
